<mat-toolbar>
    <mat-toolbar-row>
        
        
        <div class="infoHeader">
            <p>Localização</p>
            <p>Quem nós somos</p>
            <p>Baixe os aplicativos</p>
        </div>

        <div class="emailFooter">
            
            <p>Quer receber novidades exclusivas?</p>
            <input type="email" placeholder="Digite seu email aqui">
        </div>

        <div class="redesFooter">
            <p>Siga-nos nas redes sociais</p>
            <mat-icon>facebook</mat-icon>
            <mat-icon>whatsapp</mat-icon>
        </div>

    </mat-toolbar-row>
</mat-toolbar>
