<app-header></app-header>

<body>
    
  <div class="banner">
    <img src="assets/img/banner.jpg" alt="">
  </div>

  <div class="slide">
    <carousel>
      <div class="carousel-cell">
          <img src="assets/img/lol.jpg">
      </div>
      <div class="carousel-cell">
        <img src="assets/img/valorant.jpg">
      </div>
      <div class="carousel-cell">
        <img src="assets/img/gta.jpg">
      </div>
      <div class="carousel-cell">
        <img src="assets/img/cs.jpg">
      </div>
      <div class="carousel-cell">
        <img src="assets/img/lol.jpg">
    </div>
    <div class="carousel-cell">
      <img src="assets/img/valorant.jpg">
    </div>
    <div class="carousel-cell">
      <img src="assets/img/gta.jpg">
    </div>
    <div class="carousel-cell">
      <img src="assets/img/cs.jpg">
    </div>
    </carousel>
  </div> 
   
   

  </body>
  <app-footer></app-footer>
 