<app-header></app-header>
<body>
    
   
    <div class="formulario">
            
        <div class="titulo">
                <p>Formulário:</p>
            </div>
            <div class="camposFormulario">
                <div class="campo">
                    <p>ID</p>
                    <input id="inputId" type="text">
                </div>
                <div class="campo">
                    <p>Nome do Jogo</p>
                    <input type="text">
                </div>
                <div class="campo">
                    <p>Tipo</p>
                    <input type="text">
                </div>
                <div class="campo">
                    <p>Empresa Desenvolvedora</p>
                    <input type="text">
                </div>
            </div>
           
            <div class="botoes">
                <button type="button" onclick="alert('Você clicou em EXIBIR!')">Exibir</button>
                <button type="button" onclick="alert('Você clicou em CADASTRAR!')">Cadastrar</button>
                <button type="button" onclick="alert('Você clicou em ATUALIZAR!')">Atualizar</button>
                <button type="button" onclick="alert('Você clicou em APAGAR!')">Apagar</button>
            </div>
    </div>

    
    

</body>
<app-footer></app-footer>