<app-header></app-header>
<body>
    
   
    <div class="formulario">
            
        <div class="titulo">
                <p>Formulário:</p>
            </div>
            <div class="camposFormulario">
                <div class="campo">
                    <p>ID</p>
                    <input id="inputId" class ="inputFormulario" type="text">
                </div>
                <div class="campo">
                    <p>Nome do Jogo</p>
                    <input id="inputNome" class ="inputFormulario" type="text">
                </div>
                <div class="campo">
                    <p>Tipo</p>
                    <input id="inputTipo" class ="inputFormulario" type="text">
                </div>
                <div class="campo">
                    <p>Empresa Desenvolvedora</p>
                    <input id="inputEmpresa" class ="inputFormulario" type="text">
                </div>
            </div>
           
            <div class="botoes">
                <button (click)="exibir()">Exibir</button>
                <button (click)="cadastrar()">Cadastrar</button>
                <button (click)="atualizar()">Atualizar</button>
                <button (click)="apagar()">Apagar</button>
            </div>
    </div>

    
    

</body>
<app-footer></app-footer>